/* # Common Classes
---------------------------------------------------------------------------------------------------- */

/* ## Avatar
---------------------------------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: 20px;
}

.alignright .avatar {
	margin-left: 20px;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

/* ## Genesis
---------------------------------------------------------------------- */

.breadcrumb {
	background-color: $color-accent-two;
	padding: 5px 10px;
	margin-bottom: 20px;
	@include font(1.4, 2.4);
	[class^="icon-"]{
		position: relative;
		top: 5px;
	}
}
.breadcrumb .icon-house {
	top: 1px;
    position: relative;
    width: 15px;
    height: 15px;
}
.breadcrumb .wrap{
	width: 100%;
}

.archive-description,
.author-box {
	margin: 0 auto 30px auto;
	width: 90%;
	background-color: $color-white;
	@include font(1.6, 2.6);
}

.author-box-title {
	@include font(1.6, 2.6);
	margin-bottom: 5px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}


/* ## Titles
---------------------------------------------------------------------- */

.archive-title {
	@include font(3.2, 3.2);
	margin-bottom:20px;
}

.entry-title {
	@include font(3.2, 3.2);
	margin-bottom:20px;
	text-transform: uppercase;
}

.entry-title a,
.sidebar .widget-title a {
	color: $color-black;
	text-decoration:none;
}

.entry-title a:hover,
.entry-title a:focus {
	color: $color-black;
}

.widget-title {
	@include font(2.6, 2.6);
	margin-bottom: 20px;
    margin-top: 6px;
}

.footer-widgets .widget-title {
}

/* ## WordPress
---------------------------------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto;
}

img.alignnone,
.alignnone {
	margin-bottom: 0;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 0px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 0px 24px;
}

.wp-caption-text {
	margin-top:5px;
	@include font(1.4, 1.8);
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
	margin: 0 0 28px;
}