/* # Content Area
---------------------------------------------------------------------------------------------------- */

/* ## Entries
---------------------------------------------------------------------- */

.entry {
	margin-bottom: 40px;
}

.content .entry {
}

.content .post{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $color-black;
	img{
		margin-bottom: 20px;
	}
}
.content .post:last-child{
	border-bottom: none;
	padding-bottom: 0;
}
.content .post .entry-footer {
    clear: both;
}

.gridcontainer p:last-child,
.entry-content p:last-child{
	margin-bottom:0;
}

.gridcontainer ol,
.gridcontainer ul,
.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 40px;
}

.gridcontainer ol > li,
.entry-content ol > li {
	list-style-type: decimal;
}

.gridcontainer ul > li,
.entry-content ul > li {
	list-style-type: disc;
}

.gridcontainer ol ol,
.gridcontainer ul ul,
.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.gridcontainer code,
.entry-content code {
	background-color: $color-black;
	color: $color-white;
}

.gridcontainer a,
.entry-content a {
	
}

.gridcontainer a:hover,
.entry-content a:hover {
	
}

.gridcontainer.Black a,
.gridcontainer.Red a {
	color:$color-grey;
}

.gridcontainer.Black a:hover,
.gridcontainer.Red a:hover {
	color:shade( $color-grey, 60%);
    border-bottom: 4px solid $color-grey;
    box-shadow: inset 0 -30px 0 $color-grey;
}
.gridcontainer .row_headline {
	@include font(3.2, 3.2);
}

/* ## Buttons
---------------------------------------------------------------------- */

.site-inner .gridcontainer .button{
	margin-top:70px;
}

.gridcontainer a.button,
.entry-content a.button {
	float:none;
	max-width:270px;
	margin:0 auto;
	position:relative;
	clear:both;
	display:block;
	text-align:center;
	background-color: $color-primary;
	color: $color-white;
	padding:16px 24px;
	border-radius: 25px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition:    all .3s ease-in-out;
	-ms-transition:     all .3s ease-in-out;
	-o-transition:      all .3s ease-in-out;
	transition:         all .3s ease-in-out;
	
}
.gridcontainer a.button:hover,
.entry-content a.button:hover {
	background-color: shade( $color-primary, 5%);
	box-shadow:0px 5px 3px 0px rgba(0, 0, 0, 0.25);
}



.gridcontainer a.button span,
.entry-content a.button span{
}

.gridcontainer [class*="coll"] .button {
	max-width:200px;
}
.gridcontainer [class*="coll"] a.button span{
	display:block;
}


/* ## Entry Meta
---------------------------------------------------------------------- */

p.entry-meta {
	@include font(1.4, 2.2);
	margin-bottom: 0;
	a{
		text-decoration: none;
		font-weight: 600;
	}
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-footer .entry-meta {
	border-top: 2px solid $color-white;
	padding-top: 24px;
}

.entry-categories,
.entry-tags {
	display: inline-block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* ## Pagination
---------------------------------------------------------------------- */

.pagination {
	clear: both;
	margin: 0;
	padding:60px 0;
	background-color:$color-primary-two;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination ul{
	text-align:center;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: $color-grey;
	color: $color-black;
	cursor: pointer;
	display: inline-block;
	@include font(1.6, 2.4);
	padding: 18px;
	width:60px;
	text-decoration: none;
}

.archive-pagination li a:hover,
.archive-pagination li a:focus,
.archive-pagination .active a,
.archive-pagination li.pagination-previous a:hover,
.archive-pagination li.pagination-next a:hover,
.archive-pagination li.pagination-previous a:focus,
.archive-pagination li.pagination-next a:focus {
	background-color: $color-black;
	color:$color-grey;
	text-decoration: none;
}

.archive-pagination li.pagination-previous a,
.archive-pagination li.pagination-next a{
	background-color: $color-grey;
	color: $color-black;
	cursor: pointer;
	display: inline-block;
	@include font(1.6, 2.4);
	padding: 22px;
	width:60px;
	text-decoration: none;
	bottom: -3px;
    position: relative;
}

.archive-pagination li.pagination-previous a .icon-arrow-left7,
.archive-pagination li.pagination-next a .icon-untitled2 {
    width: 16px;
    height: 16px;
    display: inherit;
}

/* ## Comments
---------------------------------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	margin: 0 auto;
	width: 90%;
	margin-bottom: 40px;
}

.comment-respond,
.entry-pings {
}

.entry-comments {
}
.logged-in-as{
	@include font(1.4, 2.2);
}
.comment-header {
	@include font(1.6, 2.4);
}
.comment-form{
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.comment-form-comment{
	textarea{
		width: 100%;
	}
}
.logged-in-as a:last-child {
    float: right;
}

li.comment {
	
}

.comment-content {
	clear: both;
	word-wrap: break-word;
}

.comment-list li {
	margin-top: 24px;
}

.comment-list li li {
	margin-right: -32px;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.entry-pings .reply {
	display: none;
}

.bypostauthor {
}

.form-allowed-tags {
	background-color: $color-white;
	@include font(1.6, 2.4);
	padding: 24px;
}

/* ## Featured image
---------------------------------------------------------------------- */

.featured-image{
	.before-header{
	}
	.site-header {
	}
	.nav-secondary{
	}
} 

.featured-image .site-header.dark {
	
}

.featured-section {
	width: 90%;
	max-width: 1280px;
	margin: 0 auto 40px;
	margin-top:0px;
    background-attachment: scroll;
    background-color: $color-primary;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.content-sidebar .featured-section,
.sidebar-content .featured-section{
	width: 100%;
}
.featured-image .site-inner {
	padding-top: 40px;
}
.featured-section .image-section{
	height: 50vh;
}
.image-section {
	background: linear-gradient(145deg, rgba(201, 0, 44,.75) 0%,rgba(125,185,232,0) 75%);
}

/* ## Case grid
---------------------------------------------------------------------- */

.gridcontainer .case_preview a {
    border-bottom: none;
    box-shadow: none;
    text-decoration: none;
    padding: 0px;
}

.gridcontainer .case_preview a:hover {
    color: inherit;
    border-bottom: none;
    box-shadow: none;
}

.case_preview {
	position:relative;
	z-index:0;
}

.case_preview img {
    position: relative;
    z-index: -1;
}

.case_preview .thumb-image {
    position: relative;
    background: -moz-linear-gradient(bottom, #d1d1d0 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(bottom, #d1d1d0 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to top, #d1d1d0 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d0', endColorstr='#00ffffff',GradientType=0 );
	
	overflow:hidden;
}
.case_preview .thumb-image img{
	-webkit-transition: .75s -webkit-transform cubic-bezier(.23,1,.32,1);
    transition: .75s transform cubic-bezier(.23,1,.32,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}

.case_preview .thumb-image:hover img{
	-webkit-transform: scale(1.05) translateZ(0);
    transform: scale(1.05) translateZ(0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.case_preview .entry-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 16px;
    line-height: 1.6rem;
    color: #464545;
    margin: 0px;
    font-weight: 400;
}

.case_preview .entry-title {
  @include font(2.0, 2.0);
  margin: 0 0 15px 0;
  word-wrap: break-word;
}

.case_preview .entry-title a {
  font-weight: 300;
  border-bottom:none;
  box-shadow:none;
  padding:0;
}
.case_preview .entry-title a:hover{
	color:$color-black;
}

.case_preview p.entry-meta {
	@include font(1.2, 1.6);
    margin:0 3% 10px;
}

.case_preview .entry-content{
	position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
	display: block;
	@include font(1.4, 1.6);
	color:$color-black;
	margin:0px;
	font-weight:400;
}