/* # Small screens
---------------------------------------------------------------------------------------------------- */
/* ## 55.625emem / 890 pixel
---------------------------------------------
---------------------------------------------
--------------------------------------------- */



@media only screen and (min-width: 55.625em) {
	
@import "flexible_grids_fallback_small";
	
/* # Defaults
---------------------------------------------------------------------------------------------------- */
/* ## Typographical Elements
---------------------------------------------------------------------- */
/* ## Headings
---------------------------------------------------------------------- */
/* ## Objects
---------------------------------------------------------------------- */
/* ## Forms
---------------------------------------------------------------------- */
/* ## Tables
---------------------------------------------------------------------- */
/* ## Screen Reader Text
---------------------------------------------------------------------- */

	
/* # Structure, Layout and Grid
---------------------------------------------------------------------------------------------------- */
/* ## Site Containers
---------------------------------------------------------------------- */
.site-inner{
	width: 100%;
}
.content-sidebar .site-inner,
.sidebar-content .site-inner,
.content-sidebar-sidebar .site-inner,
.sidebar-sidebar-content .site-inner,
.sidebar-content-sidebar .site-inner{
	width: 90%;
	max-width: 800px;
}
/* ### Site Containers Full-width
---------------------------------------------------------------------- */
.full-width-content .site-inner .content .entry,
.full-width-content .site-inner .content .gridcontainer.coll1 .wrap,
.full-width-content .site-inner .content .gridcontainer.coll1 .row_headline{
	max-width: 760px;
}
.home-section.full-width-content .site-inner .content .entry{
	margin: 0 auto;
	padding: 60px 0;
	@include font(2, 3);
}
/* ## Grid Containers
---------------------------------------------------------------------- */
.gridcontainer{
	.row_headline{
		max-width: 800px;
	}
	.wrap{
		max-width: 800px;
	}
}
.gridcontainer.non{
	.wrap{
		max-width: 100%;
	}
}
/* ### Grid Containers coloured backgrounds
--------------------------------------------- */
/* @import "flexible_grids_small"; */

/* # Common Classes
---------------------------------------------------------------------------------------------------- */
/* ## Avatar
---------------------------------------------------------------------- */
/* ## Genesis
---------------------------------------------------------------------- */
.archive-description,
.author-box {
	max-width: 800px;
}
/* ## Titles
---------------------------------------------------------------------- */
/* ## WordPress
---------------------------------------------------------------------- */

/* # Widgets
---------------------------------------------------------------------------------------------------- */
/* ## Featured Content
---------------------------------------------------------------------- */

/* # Plugins
---------------------------------------------------------------------------------------------------- */
/* Owl Carousel
--------------------------------------------- */
.statements{
	margin-top: 140px;
	h1{
		padding: 10px 20px;
		@include font(3.2, 3.2);
		&:nth-child(1){
			left: calc(50% - 340px);
			top: calc(50% - 106px);
			animation: slide 2s 1s ease-in-out both;
		}
		&:nth-child(2){
			left: calc(50% - 380px);
			top: calc(50% - 39px);
			animation: slide 2s 2s ease-in-out both;
		}
		&:nth-child(3){
			left: calc(50% - 359px);
			top: calc(50% - -28px);
			animation: slide 2s 3s ease-in-out both;
		}
	}
}
	
/* Quotes Rotator
--------------------------------------------- */
.gridcontainer[class*="coll"] .cbp-qtrotator .cbp-qtcontent{
	display: flex;
	align-items: flex-start;
	padding-top: 30px;
}
.gridcontainer[class*="coll"] .cbp-qtrotator figure{
	display: block;
	margin-right: 30px;
	object-fit: contain;
	width: calc(50% - 30px);
}
.gridcontainer[class*="coll"] .cbp-qtrotator blockquote {
    margin: 0 0 30px;
}

/* ## Genesis eNews Extended
---------------------------------------------------------------------- */
/* ## Skip Links
---------------------------------------------------------------------- */

/* # Site Header
---------------------------------------------------------------------------------------------------- */
.header-full-width .title-area {
	float:left;
	width: 345px;
}
#site-logo{
	width: 428px;
	height: 60px;
}
/* ## Title Area
---------------------------------------------------------------------- */
/* ## Widget Area
---------------------------------------------------------------------- */
/* ## Before header
---------------------------------------------------------------------- */
.before-header {
	padding:0px;
}
/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
/* ## Accessible Menu
---------------------------------------------------------------------- */
/* ## Site Header Navigation
---------------------------------------------------------------------- */
/* ## Primary Navigation
---------------------------------------------------------------------- */
/* ## Secondary Navigation
---------------------------------------------------------------------- */
/* ## Responsive Menu
---------------------------------------------------------------------- */
.responsive-menu-icon {
    margin-top: 12px;
}
.responsive-menu-icon .icon-list2 {
    width: 40px;
    height: 40px;
}
/* ## Language Menu
---------------------------------------------------------------------- */

/* # Content Area
---------------------------------------------------------------------------------------------------- */
/* ## Entries
---------------------------------------------------------------------- */
.archive .site-inner{
	float: left;
	margin-bottom: 40px;
}
.content .post{
	img{
		float: left;
		margin-right: 30px;
		@include structure(385, 800)
		margin-bottom: inherit;
	}
}
/* ## Buttons
---------------------------------------------------------------------- */
/* ## Entry Meta
---------------------------------------------------------------------- */
/* ## Pagination
---------------------------------------------------------------------- */
/* ## Comments
---------------------------------------------------------------------- */
.comment-respond,
.entry-comments,
.entry-pings {
	max-width: 800px;
}
/* ## Featured image
---------------------------------------------------------------------- */
/* ## Case grid
---------------------------------------------------------------------- */

/* # Sidebars
---------------------------------------------------------------------------------------------------- */

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */
.footer-widgets .wrap {
	max-width: 800px;
}
	
@supports (display: grid) {
.footer-widgets .wrap {
	display: grid;
	grid-template-columns:1fr;
	grid-column-gap:30px;
	grid-row-gap:30px;
}
}
/* ## Social Icons
---------------------------------------------------------------------- */

/* # Site Footer
---------------------------------------------------------------------------------------------------- */

/* # Animations
---------------------------------------------------------------------------------------------------- */
/* ## Keyframes
---------------------------------------------------------------------- */
/* ### Move X and Roll 360 degrees
--------------------------------------------- */
/* ### Move up
--------------------------------------------- */
/* ### Move down
--------------------------------------------- */
/* ### Fade in
--------------------------------------------- */
/* ### Scale down
--------------------------------------------- */
/* ### Fade out
--------------------------------------------- */
/* ### Slide with opacity
--------------------------------------------- */
/* ### Scale up
--------------------------------------------- */

	
}
/* # Small screens end
---------------------------------------------------------------------------------------------------- */