/* # Large screens
---------------------------------------------------------------------------------------------------- */
/* ## 80em / 1280 pixel
---------------------------------------------
---------------------------------------------
--------------------------------------------- */



@media only screen and (min-width: 80em) {

@import "flexible_grids_fallback_large";

/* # Defaults
---------------------------------------------------------------------------------------------------- */
/* ## Typographical Elements
---------------------------------------------------------------------- */
/* ## Headings
---------------------------------------------------------------------- */
/* ## Objects
---------------------------------------------------------------------- */
/* ## Forms
---------------------------------------------------------------------- */
/* ## Tables
---------------------------------------------------------------------- */
/* ## Screen Reader Text
---------------------------------------------------------------------- */
	
/* # Structure, Layout and Grid
---------------------------------------------------------------------------------------------------- */
.content-sidebar .site-inner,
.sidebar-content .site-inner,
.content-sidebar-sidebar .site-inner,
.sidebar-sidebar-content .site-inner,
.sidebar-content-sidebar .site-inner{
	max-width: 1200px;
}
/* ## Site Containers
---------------------------------------------------------------------- */
/* ### Site Containers Full-width 
--------------------------------------------- */
.home-section.full-width-content .site-inner .content .entry{
	padding: 100px 0;
	max-width: 1200px;
}
/* ## Grid Containers
---------------------------------------------------------------------- */
.gridcontainer{
	.row_headline{
		max-width: 1200px;
	}
	.wrap{
		max-width: 1200px;
	}
}
.gridcontainer{
	.backimage{
		min-height: 550px;
	}
}

@supports (display: grid) {
.content-sidebar .site-inner,
.sidebar-content .site-inner,
.content-sidebar-sidebar .site-inner,
.sidebar-sidebar-content .site-inner,
.sidebar-content-sidebar .site-inner{
	.gridcontainer.coll3{
		.wrap{
			grid-template-columns:repeat(3, 1fr);
		}
	}
	.gridcontainer.coll4{
		.wrap{
			grid-template-columns:repeat(2, 1fr);
		}
	}
	.gridcontainer.coll5{
		.wrap{
			grid-template-columns:repeat(2, 1fr);
		}
	}
	.gridcontainer.coll6{
		.wrap{
			grid-template-columns:repeat(4, 1fr);
		}
	}
}
}
/* ### Grid Containers coloured backgrounds
--------------------------------------------- */

/* # Common Classes
---------------------------------------------------------------------------------------------------- */
/* ## Avatar
---------------------------------------------------------------------- */
/* ## Genesis
---------------------------------------------------------------------- */
.archive-description,
.author-box {
	max-width: 1200px;
}
/* ## Titles
---------------------------------------------------------------------- */
/* ## WordPress
---------------------------------------------------------------------- */

/* # Widgets
---------------------------------------------------------------------------------------------------- */
/* ## Featured Content
---------------------------------------------------------------------- */

/* # Plugins
---------------------------------------------------------------------------------------------------- */
/* Owl Carousel
--------------------------------------------- */
.statements{
	margin-top: 140px;
	h1{
		@include font(3.6, 3.6);
	}
}
/* ## Genesis eNews Extended
---------------------------------------------------------------------- */
/* ## Skip Links
---------------------------------------------------------------------- */

/* # Site Header
---------------------------------------------------------------------------------------------------- */
/* ## Title Area
---------------------------------------------------------------------- */
/* ## Widget Area
---------------------------------------------------------------------- */
/* ## Before header
---------------------------------------------------------------------- */

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
.genesis-nav-menu a {
	padding: 15px 20px;
    letter-spacing: 0.2em;
}
/* ## Accessible Menu
---------------------------------------------------------------------- */
/* ## Site Header Navigation
---------------------------------------------------------------------- */
/* ## Primary Navigation
---------------------------------------------------------------------- */
/* ## Secondary Navigation
---------------------------------------------------------------------- */
/* ## Responsive Menu
---------------------------------------------------------------------- */
/* ## Language Menu
---------------------------------------------------------------------- */

/* # Content Area
---------------------------------------------------------------------------------------------------- */
/* ## Entries
---------------------------------------------------------------------- */
.content .post{
	img{
		@include structure(585, 1200)
	}
}
/* ## Buttons
---------------------------------------------------------------------- */
/* ## Entry Meta
---------------------------------------------------------------------- */
/* ## Pagination
---------------------------------------------------------------------- */
/* ## Comments
---------------------------------------------------------------------- */
.comment-respond,
.entry-comments,
.entry-pings {
	max-width: 1200px;
}
/* ## Featured image
---------------------------------------------------------------------- */
/* ## Case grid
---------------------------------------------------------------------- */

/* # Sidebars
---------------------------------------------------------------------------------------------------- */

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */
.footer-widgets .wrap {
	max-width: 1200px;
}
/* ## Social Icons
---------------------------------------------------------------------- */

/* # Site Footer
---------------------------------------------------------------------------------------------------- */

/* # Animations
---------------------------------------------------------------------------------------------------- */
/* ## Keyframes
---------------------------------------------------------------------- */
/* ### Move X and Roll 360 degrees
--------------------------------------------- */
/* ### Move up
--------------------------------------------- */
/* ### Move down
--------------------------------------------- */
/* ### Fade in
--------------------------------------------- */
/* ### Scale down
--------------------------------------------- */
/* ### Fade out
--------------------------------------------- */
/* ### Slide with opacity
--------------------------------------------- */
/* ### Scale up
--------------------------------------------- */
	
}

/* # Large screens end
---------------------------------------------------------------------------------------------------- */