/* # MIXINS
---------------------------------------------------------------------------------------------------- */

/* ## Colours
--------------------------------------------- */

/* White */
$color-white: #f2f3f3;
$color-black_rgb: rgba(242, 243, 243, 1) ; /* White */

/* Black */
$color-black: #32373e; /* Black */
$color-black_rgb: rgba(50, 55, 62, 1); /* Black */

/* Primary */
$color-primary: #f04d46; /* Colour */
$color-primary_rgb: rgba(240, 77, 70, 1) ; /* Colour */

/* Secondary */
$color-secondary: #d6dace; /* Colour */
$color-secondary_rgb: rgba(203, 212, 201, 1) ; /* Colour */

/* Active */
$color-active: #32373e; /* Colour */
$color-active_rgb: rgba(50, 55, 62, 1) ; /* Colour */

/* Succes */
$color-succes: #d6dace; /* Colour */
$color-succes_rgb: rgba(203, 212, 201, 1) ; /* Colour */

/* Alert */
$color-alert: #c9002c; /* Colour */
$color-alert_rgb: rgba(201, 0, 44, 1) ; /* Colour */

/* Accent 1 */
$color-accent-one: #000000; /* Colour */
$color-accent-one_rgb: rgba(0, 0, 0, 1) ; /* Colour */

/* Accent 2 */
$color-accent-two: #eeefef; /* Colour */
$color-accent-two_rgb: rgba(238, 239, 239, 1) ; /* Colour */

/* Accent 3 */
$color-accent-three: #c9002c; /* Colour */
$color-accent-three_rgb: rgba(201, 0, 44, 1) ; /* Colour */

/* Remove below colours */

/* Grey */
$color-grey: #dfe1df;
$color-grey_rgb: rgba(223, 225, 223, 1);

/* Dark blue */
$color-primary-one: #1d2029; /* 100% Dark blue */
$color-primary-one_rgb: rgba(29, 32, 41, 1) ; /* Dark blue */

/* Golden */
$color-primary-two: #a56927; /* 100% Golden */
$color-primary-two_rgb: rgba(165, 105, 39, 1) ; /* Golden */

/* Green */
$color-primary-three: #cdde68; /* 100% Green */
$color-primary-three_rgb: rgba(205, 222, 104, 1) ; /* Green */

/* ## Typography
--------------------------------------------- */

/* Primary Font Faminly */
$font-bread: 'Open Sans', Helvetica, Arial, sans-serif;
$font-headlines: "brandon-grotesque", Helvetica, Arial, sans-serif;

/* $font-headlines: CelesteWeb-Book, sans-serif; */

/* Basic Font Sizes mixin */
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin line-height($lineheight: 1.6) {
  line-height:($lineheight * 10) + px;
  line-height:$lineheight + rem;
}

@mixin font($fontsize: 1.6, $lineheight: 1.6) {
  font-size: ($fontsize * 10) + px;
  font-size: $fontsize + rem;
  line-height:($lineheight * 10) + px;
  line-height:$lineheight + rem;
}

p.standard {
	@include font(1.8, 2.6);
}

/* ## Border Radius
--------------------------------------------- */

@mixin corners($radius){
	-webkit-border-radius: $radius + px;
	   -moz-border-radius: $radius + px;
			border-radius: $radius + px;
}

/* ## Gradients
--------------------------------------------- */

@mixin linear-gradient($from, $to) {
	/* Fallback for sad browsers */
	background-color: $to;
	/* Mozilla Firefox */
	background-image:-moz-linear-gradient($from, $to);
	/* Opera */
	background-image:-o-linear-gradient($from, $to);
	/* WebKit (Safari 4+, Chrome 1+) */
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
	/* WebKit (Chrome 11+) */
	background-image: -webkit-linear-gradient($from, $to);
	/* IE10 */
	background-image: -ms-linear-gradient($from, $to);
	/* W3C */
	background-image: linear-gradient($from, $to);
}

/* ## Grid
--------------------------------------------- */

/* Grid mixin */
@mixin collwidth($colls, $margin, $target) {
  width: ((($target - (($colls) * $margin)) / $colls) / $target) * 100%;
  margin-right: (($margin / $target / 2) * 100%);
  margin-left: (($margin / $target / 2) * 100%);
}

@mixin grid($colls, $margin, $target) {
  width: ((($target - (($colls - 1) * $margin)) / $colls) / $target) * 100%;
  &:nth-child(n) {
    margin-right: (($margin / $target) * 100%);
  }
  &:nth-child(#{$colls}n) {
    margin-right: 0;
  }
}

@mixin grid_alt($colls, $margin, $target) {
  width: ((($target - (($colls - 1) * $margin)) / $colls) / $target) * 100%;
  &:nth-child(n) {
    margin-right: (($margin / $target) * 100%);
  }
  &:nth-child(#{($colls + 1)}n) {
    margin-right: 0;
  }
}

@mixin structure($width, $target) {
	width: ($width / $target * 100%);
}