/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	margin-top: 20px;
	display: block;
	clear: both;
	float: left;
}

.sidebar li {
	border-bottom: 1px dotted $color-black;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	margin-bottom: 20px;
	padding: 20px;
	background-color:$color-secondary;
}